*{
    z-index: 99;
}

.tiling-icon
{
    width: 24px;
    height: 24px;
    background-image: url("images/launcher_16.png");
    background-size: 16px 16px;
}

.tiling-icon:hover
{
    background-image: url("images/launcher_16_hover.png");
}

.tiling-icon:activate
{
    background-image: url("images/launcher_16_activated.png");
}

.size-button
{
    background-color: #888;
    color: aqua;
    border-radius: 0px;
}

.tab-button
{
    background-color: #222;
    color: #ccc;
    border-radius:2px;
    border: 2px #111;
    padding-left: 12px;
    padding-right: 12px;
}

.tab-button:hover {
    background-color: #555;
    color: #f1f1f1;
}

.grid-preview
{
     background-color: rgba(12, 16, 194, 0.4);
     border: solid 1px rgba(12, 16, 194, 0.6);
}

.grid-preview:activate
{
    background-color: rgba(12, 16, 194, 0.4);
    border: solid 1px rgba(12, 16, 194, 0.6);
}
